*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 100px;
background-color:#b6a7a5;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 99;
}
.logo{
    font-size: 2em;
    color: aliceblue;
    user-select: none;

}
.navegador a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
.navegador a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-box: rigth;
    transform: scaleX(0);
    transition: transform .5s;
}
.navegador a:hover::after {
    transform: scaleX(1);
}
.navegador .btnLogin {
    width: 130px;
    height: 50px;   background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navegador .btnLogin:hover{
    background: #fff;
    color: #162938;

}
.welcome{
    height: 500px;
    width: 100%;
    position: absolute;
background-color:#b6a7a5;
margin-top: -20px;
}
.bienvenida{
    margin: 150px 250px 250px; 
    text-align: center;
    padding: 15px;
}
.bienvenida h1{
    padding-bottom: 45px;
}
.bienvenida nav{
    padding-top: 45px;

}
/*Acerca de Nosotros*/
.Nosotros{
    margin: 1106px 200px 200px;
    align-items: center;
    display: flex;
    height: 300px;
    width: auto;
position: absolute;

}
.nosotrosTex{
    text-align: center;
    padding: 45px 100px 45px 100px;
    width: 60%;
    height: 100%;
}
.nosotrosTex p{
    padding-top: 40px;
}
.nosotrosImg{
    padding: 30px 50px 30px 50px;
        width: 40%;
    height: 100%;
    
}
.nosotrosImg img{
    width: 100%;
    height: 100%;
}
/*Fin Acerca de Nosotros*/


/*Nuestros Servicio*/
.Servicio{

        margin: 1800px 140px 140px;
    text-align: center;
    display:inline-flexbox;
    height: 350px;
    width: auto;
position: absolute;

}
.Servicio h1{
   padding-top: 40px;
    border-top: 1px solid black;
}
.Servicio .cards-serv{
    padding: 35px 60px 0 60px;
    display: flex;
    width: 100%;
    height: 100%;
    border-style: inherit;
}

.cards-serv img{
    padding: 20px 30px 10px 30px;
    width: 200px;
    height: 160px;
    border-radius: 50%;
}
.cards-serv p{
    padding: 5px 5px 5px 5px;
}
/*Fin Nuestros Servicio*/






/*Inicio Desarolladores*/
.desarrolladores{
    margin: 3100px 140px 140px;
text-align: center;
display: inline-flexbox;
    height: 550px;
    width: auto;
position: absolute;
}
.desarrolladores h1{
    padding-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
    border-top: 1px solid black;
}
.desarrolladores .card-personal{
    padding: 35px 60px 0 60px;
    display: inline-block;
    width: 100%;
    height: 100%;
    align-items: center;
}
.card-personal img{
    padding: 20px 30px 10px 30px;
    width: 240px;
    height: 200px;
    border-radius: 50%;
}
.card-personal p{
    padding: 3 5px 5px 5px;
}

.card-personal .cont1{
    padding-left: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    
}
.cont2{
    margin: 0 340px 0 340px;
    text-align: center;
    align-items: center;
    display: flex;
}
/*Fin Desarolladores*/
/* iNICIO DE FORMULARIO */
.wrapper {
    align-items: center;
    top: 120px;
    right: 140px;
    position: relative;
    width: 600px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
   transition: transform .5s ease, height .2s ease;
}
.wrapper.active-btnLogin{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;

}
.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-700px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(700px);

}
.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;

    
}
.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}
.input-box {
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #162938;
    margin: 20px 0;

}
.input-box  label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 900;
    pointer-events: none;

}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input{
    padding-left: 15px;
    margin-left: -6px;
    margin-top: 4px;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: #162938;
    font-weight: 600;
}
.contenedor2{
    display: flex;
}
.contenedor3{
    display: flex;
}

.input-box .icon{
    position:absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.password-forgot{
    
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: 15px 0 15px;
    justify-content:space-evenly;
    display: flex;

    
}

.password-forgot label input{
    accent-color: #162938;
    margin-right: 3px;;

}
.password-forgot a{
    right: 40px;
    color: #162938;
    text-decoration: none;
}
.password-forgot a:hover{
    text-decoration: underline;

}
.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.Login_register{
    font-size: .8em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.Login_register p a{
    color: #162938;
    font-size: 60pz;
    text-decoration: none;
    font-weight: 500;
}
.Login_register p a:hover{
    text-decoration: underline;
}

/* Boton insertar documento*/
.Btnfile input[type="file"]{
    cursor: pointer;
    position: absolute;
    transform: scale(3);
    opacity: 0;
   

}
.Btnfile {
    left: -11px;
    text-align: left;
    width:100%;
    height: 40px;
    top: -5px;
    padding: 11px 16px ;
    position: relative;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 3px;
    color: #162938;
    font-weight: 900;
    background-color: transparent;
    border: 0;
    overflow: hidden;
    transition: 0.2s;

}
.Btnfile:hover{
    background: transparent;
    color: #162938;
    font-weight: 900;
}
/* Fin insertar documento*/
.BtnF::-webkit-calendar-picker-indicator {
    background: scroll;
    position: relative;
    padding: 15px 34px 0 ;
  }
